{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}Pages <span>{% trans %}Manage the pages of your website{% endtrans %}</span>{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">{% trans %}Home{% endtrans %}</a></li>
        <li class="breadcrumb-item active">Pages</li>
    </ul>
{% endblock %}


{% block header_elements %}
    {% set baseroute = get_baseroute() %}
    {% if route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new', {'type': type}) }}" class="fa-stack" data-toggle="tooltip" data-placement="bottom" title="{% trans %}New{% endtrans %}">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
        </a>
    {% endif %}
    {% if route_exists(baseroute ~ '_order') %}
        <a href="{{ path(baseroute ~ '_order') }}" class="fa-stack" data-toggle="tooltip" data-placement="bottom" title="{% trans %}Reorder{% endtrans %}">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-arrows-alt fa-stack-1x fa-inverse"></i>
        </a>
    {% endif %}
{% endblock %}


{% block paneltitle %}{% trans %}List of pages{% endtrans %}{% endblock %}


{% block paneldatatable %}

    <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
        <tr>
            <th>{% trans %}Title{% endtrans %}</th>
            <th style="width:200px">{% trans %}Created on{% endtrans %}</th>
            <th style="width:200px">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.createdAt|date('d/m/Y') }}</td>
                <td>
                    <div class="btn-icon-group">
                        <a href="{{ path('aropixel_page_edit', {'type': page.type, 'id': page.id}) }}" title="{% trans %}Edit{% endtrans %}"><i class="fas fa-edit"></i></a>
                        <a class="status" title="{% if page.status == 'online' %}{% trans %}Put offline{% endtrans %}{% else %}{% trans %}Put online{% endtrans %}{% endif %}"
                           data-confirm="{% trans %}Are you sure you want to put this page{% endtrans %} %s ?" data-path="{{ path('aropixel_page_status', {'id': page.id}) }}">
                            <i class="fas {% if page.status == 'online' %}fa-toggle-on{% else %}fa-toggle-off{% endif %}"></i>
                        </a>
                        <a class="delete" data-confirm="Supprimer la page|Êtes-vous certain de vouloir supprimer cette page ?" title="{% trans %}Delete{% endtrans %}"><i class="fas fa-trash"></i></a>
                        {{ form(delete_forms[page.id]) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
