{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}Pages <span>Administrez les pages de votre site</span>{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item active">Pages</li>
    </ul>
{% endblock %}


{% block header_elements %}
    {% set baseroute = get_baseroute() %}
    {% if route_exists(baseroute ~ '_new') %}
        <a href="{{ path(baseroute ~ '_new', {'type': type}) }}" class="fa-stack" data-toggle="tooltip" data-placement="bottom" title="Nouveau">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
        </a>
    {% endif %}
    {% if route_exists(baseroute ~ '_order') %}
        <a href="{{ path(baseroute ~ '_order') }}" class="fa-stack" data-toggle="tooltip" data-placement="bottom" title="Réorganiser">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-arrows-alt fa-stack-1x fa-inverse"></i>
        </a>
    {% endif %}
{% endblock %}


{% block paneltitle %}Liste des pages{% endblock %}


{% block paneldatatable %}

    <table class="table card-table table-vcenter text-nowrap datatable">
        <thead>
            <tr>
                <th>Titre</th>
                <th style="width:200px">Date</th>
                <th class="no-sort" style="width:150px">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for page in pages %}

                <tr>
                    <td>
                        <a href="{{ path('aropixel_page_edit', {'type': page.type, 'id': page.id}) }}">
                            <span class="state-icon state-icon-{{ page.status }}" title="Mettre {{ page.status == 'online' ? 'en ligne' : 'hors ligne' }}"></span>
                            {{ page.title }}
                        </a>
                    </td>
                    <td>{{ page.createdAt|date('d/m/Y') }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button" class="badge badge-light badge-icon" data-bs-toggle="dropdown" data-boundary="viewport">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                                <a href="{{ path('aropixel_page_edit', {'type': page.type, 'id': page.id}) }}" class="dropdown-item has-icon"><i class="fas fa-edit"></i> Modifier</a>
                                <div class="dropdown-divider"></div>
                                <a data-confirm="Supprimer la page|Êtes-vous certain de vouloir supprimer cette page ?" class="delete dropdown-item has-icon text-danger">
                                    <i class="fas fa-trash"></i> Supprimer
                                </a>
                                {{ form(delete_forms[page.id]) }}
                            </div>
                        </div>
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

{% endblock %}
