{% macro printTabRow(tabForm) %}

    <div class="js-block-admin-tab">

        <div id="heading{{tabForm.vars.id}}">

            <p class="btn btn-outline-primary btn-sm" data-toggle="collapse" data-target="#collapse{{tabForm.vars.id}}" aria-expanded="true" aria-controls="collapse{{tabForm.vars.id}}">
                <i class="fas fa-angle-double-down"></i>
                Onglet
            </p>
        </div>

        <div id="collapse{{tabForm.vars.id}}" class="collapse" aria-labelledby="heading{{tabForm.vars.id}}" data-parent="#accordion">
            {{ form_errors(tabForm) }}
            {{ form_widget(tabForm) }}
            <button href="#" class="mb-5 btn btn-danger btn-sm js-block-admin-tab-remove">
                <span class="fa fa-trash"></span>
                Supprimer l'onglet
            </button>
        </div>

    </div>
{% endmacro %}
