{% extends '@AropixelPage/base.html.twig' %}

{% block header_title %}Pages{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ url('aropixel_page_index', {'type': 'default'}) }}">Pages</a></li>
        {% if page and page.id %}
            <li class="breadcrumb-item active">Modifier</li>
        {% else %}
            <li class="breadcrumb-item active">Création</li>
        {% endif %}
    </ul>
{% endblock %}


{% block tabbable %}
    <li class="nav-item"><a href="#panel-tab1" data-bs-toggle="pill" class="nav-link active"><i class="fa fa-paper-plane position-left"></i><span> Contenu</span></a></li>
    <li class="nav-item"><a href="#panel-tab2" data-bs-toggle="pill" class="nav-link"><i class="fab fa-google position-left"></i><span> Référencement</span></a></li>
{% endblock %}

{% block header_image %}
    {% set field = form.image.vars.value %}
    <div class="section-header-left-image cursor-pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasForm">
        <img src="{{ (field ? field.value : null) | aropixel_imagine_filter('admin_thumbnail') }}" alt="" />
        <i class="fas fa-external-link-alt editable-indicator"></i>
    </div>
{% endblock %}

{% block mainPanel %}

        <div class="tab-pane fade show active" role="tabpanel" id="panel-tab1">

            <div class="card card-centered card-centered-large">

                <div class="card-body">

                    {{ form_row(form.title) }}
                    {{ form_row(form.excerpt) }}
                    {{ form_row(form.description) }}

                </div>

            </div>

        </div>


        <div class="tab-pane fade" role="tabpanel" id="panel-tab2">

            <div class="card card-centered">

                <div class="card-body">

                    {{ form_row(form.metaTitle) }}
                    {{ form_row(form.metaDescription) }}
                    {{ form_row(form.metaKeywords) }}

                </div>

            </div>

        </div>


{% endblock %}
