{% import '@AropixelPage/block/macro/_formMacro.html.twig' as formMacros %}

{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block header_title %}
    Block #<i>{{ block.code }}</i>{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/aropixelpage/css/block.css') }}">#}

    <style>

        .block-admin-tabs > .form-group {
            border-bottom: 1px solid #e4e6fc;
        }

    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/aropixelpage/js/block.js') }}"></script>
{% endblock %}

{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ url('block_index') }}">Block </a></li>
        <li class="breadcrumb-item active">Modifier</li>
    </ul>
{% endblock %}

{% block mainPanel %}

    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-highlight">
            <li class="nav-item"><a href="#panel-tab1" data-toggle="tab" class="nav-link active"><i class="fa fa-paper-plane position-left"></i> Détails</a></li>

            {% if blockHasTabs %}
                <li class="nav-item"><a href="#panel-tab2" data-toggle="tab" class="nav-link"><i class="far fa-folder-open position-left"></i> Onglets</a></li>
            {% endif %}
        </ul>
    </div>

    <div class="card">

        <div class="card-body">

            <div class="panel-tab-content tab-content">

                {{ form_start(form) }}

                <div class="tab-pane active" id="panel-tab1">

                    {% for inputForm in form.children.inputs %}

                        {% if inputForm.vars.data.type != 'Tabs' %}
                            <i class="fas fa-crosshairs"></i><i>{{ inputForm.vars.data.code }}</i>
                            {{ form_widget(inputForm) }}
                        {% endif %}

                    {% endfor %}

                </div>

                <div class="tab-pane" id="panel-tab2">

                    {% for inputForm in form.children.inputs %}

                        {% if inputForm.vars.data.type == 'Tabs' %}
                            {% set tabsForm = inputForm.content.content %}

                            <div class="form-group">
                                <i class="fas fa-crosshairs"></i><i>{{ inputForm.vars.data.code }}</i>
                                {{ form_label(inputForm.content) }}
                                <div class="js-block-admin-tabs-collection"
                                     data-index="{{ tabsForm.children|length }}"
                                     data-prototype="{{ formMacros.printTabRow(tabsForm.vars.prototype)|e }}">

                                    <div class="js-block-admin-tabs block-admin-tabs">
                                        {% for childForm in tabsForm.children %}
                                            {{ formMacros.printTabRow(childForm) }}
                                        {% endfor %}
                                    </div>

                                    <button  class="mt-3 btn btn-primary js-block-admin-tabs-add">
                                        <span class="fa fa-plus-circle"></span>
                                        Ajouter un onglet
                                    </button>

                                </div>
                            </div>

                            {% do inputForm.setRendered %}

                        {% endif %}

                    {% endfor %}
                </div>

                {{ form_end(form) }}
            </div>

        </div>

    </div>


{% endblock %}


