{% extends '@AropixelAdmin/List/datatable.html.twig' %}

{% block header_title %}{% trans %}page.text.list{% endtrans %}{% endblock %}

{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">{% trans %}text.dashboard{% endtrans %}</a></li>
        <li class="breadcrumb-item active">{% trans %}pages.builder{% endtrans %}</li>
    </ul>
{% endblock %}

{% block header_top_right %}
    <a href="{{ path('aropixel_builder_page') }}" class="btn btn-small btn-primary ms-3">
        <i class="fas fa-plus me-2"></i>{% trans %}text.create{% endtrans %}
    </a>
{% endblock %}

{% block panels %}

    <div class="card">

        <div class="table-responsive">

            <table class="table card-table table-vcenter text-nowrap datatable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>{% trans %}page.list.header.title{% endtrans %}</th>
                    <th>{% trans %}page.list.header.slug{% endtrans %}</th>
                    <th>{% trans %}page.list.header.updated_at{% endtrans %}</th>
                    <th style="width:100px" class="no-sort"></th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.id }}</td>
                        <td>
                            <a href="{{ path('aropixel_builder_page_edit', {id: page.id}) }}">{{ page.title }}</a>
                        </td>
                        <td>{{ page.slug }}</td>
                        <td>{{ page.updatedAt|date('d/m/Y H:i') }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="button" class="badge badge-light badge-icon" data-bs-toggle="dropdown" data-boundary="viewport">
                                    <i class="fas fa-ellipsis-h"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" data-bs-popper="static">
                                    <a href="{{ path('aropixel_builder_page_edit', {id: page.id}) }}" class="dropdown-item has-icon">
                                        <i class="fas fa-pen"></i> {% trans %}text.edit{% endtrans %}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item has-icon delete text-danger" data-confirm="{% trans %}pages.list.delete_warning{% endtrans %}"><i class="fas fa-trash"></i> {% trans %}form.delete{% endtrans %}</a>
                                    <form method="post" action="{{ path('aropixel_builder_page_delete', {'id': page.id}) }}">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete__page' ~ page.id) }}">
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    {# Vide #}
                {% endfor %}
                </tbody>
            </table>

        </div>

    </div>

{% endblock %}
