{% set pb_custom_blocks = page_builder_config.custom_blocks ?? [] %}
{% set pb_has_custom_tab = pb_custom_blocks|filter(b => b.category == 'custom')|length > 0 %}

<div class="card mb-3">

    <div class="px-3 py-2">
        <ul class="nav nav-tabs nav-tabs-line border-0" role="tablist">
            <li class="nav-item">
                <a class="nav-link active px-3 py-2 d-flex align-items-center"
                   role="tab"
                   data-bs-toggle="tab"
                   aria-controls="nav-bloc"
                   aria-selected="true"
                   href="#nav-bloc"
                   id="nav-bloc-tab">
                    <span style="font-size: 0.875rem;">{% trans %}page.builder.library.tab.blocks{% endtrans %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 d-flex align-items-center"
                   role="tab"
                   data-bs-toggle="tab"
                   aria-controls="nav-media"
                   aria-selected="false"
                   href="#nav-media"
                   id="nav-media-tab">
                    <span style="font-size: 0.875rem;">{% trans %}page.builder.library.tab.media{% endtrans %}</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 py-2 d-flex align-items-center"
                   role="tab"
                   data-bs-toggle="tab"
                   aria-controls="nav-module"
                   aria-selected="false"
                   href="#nav-module"
                   id="nav-module-tab">
                    <span style="font-size: 0.875rem;">{% trans %}page.builder.library.tab.modules{% endtrans %}</span>
                </a>
            </li>
            {% if pb_has_custom_tab %}
            <li class="nav-item">
                <a class="nav-link px-3 py-2 d-flex align-items-center"
                   role="tab"
                   data-bs-toggle="tab"
                   aria-controls="nav-custom"
                   aria-selected="false"
                   href="#nav-custom"
                   id="nav-custom-tab">
                    <span style="font-size: 0.875rem;">{% trans %}page.builder.library.tab.custom{% endtrans %}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="card-body p-3">

        <div class="tab-content">
            <div class="tab-pane pt-0 pb-0 fade show active" id="nav-bloc" role="tabpanel" aria-labelledby="nav-bloc-tab">
                <div class="row g-2">
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="title"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-heading"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.title{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="text"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-align-left"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.text{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="button"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-hand-pointer"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.button{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="spacer"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-arrows-alt-v"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.spacer{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="divider"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-minus"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.divider{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button class="pb-block-card"
                                data-action="click->page-builder#addBlockFromLibrary"
                                data-block-type="cta">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-bullhorn"></i>
                            </div>
                            <span class="pb-block-card-label">CTA</span>
                        </button>
                    </div>
                    {% for pb_block in pb_custom_blocks|filter(b => b.category == 'blocs') %}
                    <div class="col-4">
                        <button type="button" class="pb-block-card"
                                data-block-type="{{ pb_block.type }}"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon"><i class="{{ pb_block.icon }}"></i></div>
                            <span class="pb-block-card-label">{{ pb_block.label }}</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="nav-media" role="tabpanel" aria-labelledby="nav-media-tab">
                <div class="row g-2">
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="image"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-image"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.image{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="iframe"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-video"></i>
                            </div>
                            <span class="pb-block-card-label">iFrame</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="slider"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-images"></i>
                            </div>
                            <span class="pb-block-card-label">Slider</span>
                        </button>
                    </div>
                    {% for pb_block in pb_custom_blocks|filter(b => b.category == 'medias') %}
                    <div class="col-4">
                        <button type="button" class="pb-block-card"
                                data-block-type="{{ pb_block.type }}"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon"><i class="{{ pb_block.icon }}"></i></div>
                            <span class="pb-block-card-label">{{ pb_block.label }}</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="tab-pane fade" id="nav-module" role="tabpanel" aria-labelledby="nav-module-tab">
                <div class="row g-2">
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="accordion"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-align-justify"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.accordion{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="banner"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-bullhorn"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.banner{% endtrans %}</span>
                        </button>
                    </div>
{#                    <div class="col-4">#}
{#                        <button class="pb-block-card"#}
{#                                data-action="click->page-builder#addBlockFromLibrary"#}
{#                                data-block-type="nested-row">#}
{#                            <div class="pb-block-card-icon">#}
{#                                <i class="fas fa-th-large"></i>#}
{#                            </div>#}
{#                            <span class="pb-block-card-label">Grille</span>#}
{#                        </button>#}
{#                    </div>#}
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-action="click->page-builder#addBlockFromLibrary"
                                data-block-type="grid">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-th-large"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.grid{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="blog"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-newspaper"></i>
                            </div>
                            <span class="pb-block-card-label">{% trans %}page.builder.block.blog{% endtrans %}</span>
                        </button>
                    </div>
                    <div class="col-4">
                        <button type="button"
                                class="pb-block-card"
                                data-block-type="countdown"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon">
                                <i class="fas fa-clock"></i>
                            </div>
                            <span class="pb-block-card-label">Countdown</span>
                        </button>
                    </div>
                    {% for pb_block in pb_custom_blocks|filter(b => b.category == 'modules') %}
                    <div class="col-4">
                        <button type="button" class="pb-block-card"
                                data-block-type="{{ pb_block.type }}"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon"><i class="{{ pb_block.icon }}"></i></div>
                            <span class="pb-block-card-label">{{ pb_block.label }}</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% if pb_has_custom_tab %}
            <div class="tab-pane fade" id="nav-custom" role="tabpanel" aria-labelledby="nav-custom-tab">
                <div class="row g-2">
                    {% for pb_block in pb_custom_blocks|filter(b => b.category == 'custom') %}
                    <div class="col-4">
                        <button type="button" class="pb-block-card"
                                data-block-type="{{ pb_block.type }}"
                                data-action="click->page-builder#addBlockFromLibrary">
                            <div class="pb-block-card-icon"><i class="{{ pb_block.icon }}"></i></div>
                            <span class="pb-block-card-label">{{ pb_block.label }}</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>

    </div>

</div>

<button type="button" class="btn btn-primary w-100 mb-3" data-action="click->page-builder#addSection">
    {% trans %}page.builder.add_section{% endtrans %}
</button>

<div class="card card-template">

    <div class="px-3 py-2">
        <ul class="nav nav-tabs nav-tabs-line border-0" role="tablist">
            <li class="nav-item">
                <a class="nav-link px-3 py-2 d-flex align-items-center active"
                   role="tab"
                   data-bs-toggle="tab"
                   aria-controls="nav-template"
                   aria-selected="false"
                   href="#nav-template"
                   id="nav-template-tab">
                    <span style="font-size: 0.875rem;">Templates</span>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body p-3">

        <div class="tab-content">

            {% include '@AropixelPage/custom/_template.html.twig' %}

        </div>

    </div>

</div>
