<div class="card">

    <div class="card-body">

        <div class="mb-2 form-group">
            <label for="page_title" class="col-form-label required">Titre de la page</label>
            <input type="text"
                   id="page_title"
                   name="page[title]"
                   class="form-control"
                   required="required"
                   value="{{ page ? page.title : '' }}"
                   data-page-builder-target="titleField"
                   data-page-builder-saver-target="paramTitle"
                   placeholder="ex: Mentions légales"/>
        </div>

        <div class="mb-2 form-group">
            <label for="page_subtitle" class="col-form-label">Sous-titre</label>
            <input type="text"
                   id="page_subtitle"
                   name="page[subtitle]"
                   class="form-control"
                   value="{{ page ? page.subtitle : '' }}"
                   data-page-builder-saver-target="paramSubtitle">
        </div>

        <div class="mb-2 form-group">
            <label for="page_slug" class="col-form-label">Slug (URL)</label>
            <input type="text"
                   id="page_slug"
                   class="form-control"
                   value="{{ page ? page.slug : '' }}"
                   data-page-builder-saver-target="paramSlug"
                   placeholder="Laisser vide pour générer automatiquement">
            <small class="text-muted">Identifiant unique dans l'URL.</small>
        </div>

        <div class="mb-2 form-group">
            <label for="page_parent" class="col-form-label">Page parente</label>
            <select class="form-select form-select-sm" id="page_parent"
                    data-page-builder-saver-target="paramParent">
                <option value="">-- Choisir --</option>
                {% for p in allPages %}
                    <option value="{{ p.id }}" {{ page and page.parent and page.parent.id == p.id ? 'selected' : '' }}>{{ p.parent ? p.title ~ ' [' ~ p.parent.title ~ ']' : p.title }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-2 form-group">
            <label for="page_meta_title" class="col-form-label">Titre (SEO)</label>
            <textarea id="page_meta_title"
                      class="form-control"
                      data-page-builder-saver-target="paramMetaTitle"
                      rows="3">{{ page ? page.metaTitle : '' }}</textarea>
        </div>

        <div class="mb-2 form-group">
            <label for="page_description" class="col-form-label">Description (SEO)</label>
            <textarea id="page_description"
                      class="form-control"
                      data-page-builder-saver-target="paramDescription"
                      rows="3">{{ page ? page.description : '' }}</textarea>
        </div>

{#        <div class="mb-2 form-group">#}
{#            <label for="page_ogimage" class="col-form-label">Image de partage (Og Image)</label>#}
{#            <input type="text"#}
{#                   id="page_ogimage"#}
{#                   class="form-control"#}
{#                   value="{{ page ? page.ogImage : '' }}"#}
{#                   data-page-builder-saver-target="paramOgImage">#}
{#        </div>#}

    </div>
</div>
